@model IEnumerable<MedicalShop.Models.Medicine>

@using GridMvc.Html
@{
    ViewBag.Title = "Medical Shop";
}

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>

<h3>Medicines</h3>
<div class="code-cut">
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <span>Medicine Name:</span> @Html.TextBox("MedicineName")
    <input type="submit" value="Search" />
    <br />
    <br />

    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.Name).Titled("Name").Filterable(true);
    columns.Add(c => c.Brand).Titled("Brand").Filterable(true);
    columns.Add(c => c.Price).Titled("Price").Filterable(true);
    columns.Add(c => c.Quantity).Titled("Quantity").Filterable(true);
    columns.Add(c => c.ExpiryDate).Titled("ExpiryDate").Filterable(true);
    columns.Add()
    .Encoded(false)
    .Sanitized(false)
    .SetWidth(30)
    .RenderValueAs(o => Html.ActionLink("Edit", "Edit", new { id = o.ID }));

}).WithPaging(10).SetRowCssClasses(c => c.Quantity < 10 ? "yellowColor" : "redColor").Sortable(true)

    @Html.ActionLink("Insert", "Edit", "Home")

}
</div> 

